@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.para{
  font-weight: 600;
  font-size: 18px;
}

*, html {

  scroll-behavior: smooth !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scrollbar2{
  background-color: #8f3b9d;
}
.scrollbar{
  display:none;
}
.navbar{
  background-color: black;
  color: white;
}
.navbar2{
  background-color:black;
  color: white;
}
.bc{
  background-color: rgb(238, 128, 232);
}
.signup{
  background-color: #8f3b9d;
}
@media screen and (min-width: 751px) and (max-width: 1270px) {
  /* Styles for screens between 1271px and 750px */
  .para{
    font-size: 15px;
  }
  .hehe{
    font-size: 9px;
  }
  
  .logon{
    
   scale: 0.75;
  
   
  }
}
@media screen and (max-width: 750px) {

  .taha{
    display: none;
  }
  .taha2{
    display: block;
  }
  .para{
    font-size: 12px;
   
  }
  
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2c2b2b; /* Match the background */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Dark gray scrollbar */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter gray when hovered */
}


